.clip data-latitude=clip.latitude data-longitude=clip.longitude data-name=clip.name data-address=clip.address data-image=clip.image_url data-url=clip.url data-active="#{last_clip?(clip)}" class="#{ selected ? 'selected' : '' }"
  = render 'card', clip: clip
