/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-rating
 *= require rails_bootstrap_forms
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "shared";

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.requests#thank_you {
  .thank_you {
    &.hero {
      background-image: asset_url('couple-beach.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.requests#new {
  /*font-family: 'Avenir Black';*/
  font-family: sans-serif;
  .btn {
    word-wrap: break-word;
    white-space: normal;
  }



  .short-form {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(98, 161, 182, 0.6);
    margin: 0 auto;
    width: 50%;
    padding: 0.5em;
  }
  .hero {
    overflow: hidden;
    padding-top: 2em;
    background-image: asset_url('burma.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 40em;
    position: relative;

    .plan a {
      margin-top: 1em;
    }
    .plan div {
      padding-top: 1em;
      .glyphicon {
        font-size: 5em;
      }
      i + div {
        padding: 0;
      }
    }
    .slogan-bottom {
      bottom: 0;
    }

    .slogan-top {
      top: 0;
    }
    .slogan {
      position: absolute;
      background-color: #ddab24;
      opacity: 0.9;
      width: 100%;
      height: 4em;
      color: white;
      font-weight: bold;
      font-size: 1.3em;
      line-height: 4em;
    }
  }

  .value{
    text-align: center;

    ul {
      padding: 1em;
      list-style:none;
      h3 {
        /*font-family: 'Avenir Heavy';*/
      }
      p {
        /*font-family: 'Avenir Light';*/
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  .what {
    background-color: LightGray;
    text-align: center;

    ul {
      list-style: none;
      overflow: hidden;
      width: 100%;
      text-align: center;

      li {
        box-shadow: 0 0 5px black;
        margin: 2em;
        text-align: left;
        display: inline-block;
        float:none;
        p {
          min-height: 3em;
        }
      }
    }
    .thumbnail {
      background-color: white;
      border: 0;
      padding:0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      /*width: 40%;*/
      img {
        height: 60%;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;;
      }
      .caption {
        margin: 0.2em;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  .how {
    background-image: asset_url('howitworks_bg.png');
    background-size: cover;
    color: white;
    text-align: center;
    /*font-family: 'Avenir Heavy';*/
    font-size: 1em;
    .glyphicon {
      font-size: 3em;
    }
    h2 {
      margin-top: -0.75em;
    }
    h3 {
      text-transform: uppercase;
      text-align: left;
    }
    p {
      margin: 0 auto;
    }
    ul {
      padding: 1em;
      list-style: none;
      li {
        text-align: left;
        float: left;
      }
    }
  }

  .request {
    fieldset {
      border: 2px solid #ce9f24;
      background-color: #fdf6e4;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      .row {
        margin-left: 0;
        padding: 0.75em;
      }
    }
    .btn.feedback {
      font-size: 2em;
    }
    .symbol-empty, .symbol-filled {
      padding-top: 1em;
    }
    .submit {
      margin-top: 1em;
      padding: 1em;
    }

    input[type=submit] {
      min-width: 15em;
    }
    input[type=submit] + img {
      margin-left: 1em;
    }

    label.control-label {
      display: block;
    }

    .rating-symbol {
      cursor: pointer;
    }

  }
  .guides {
    background-color: LightGray;
    h2 {
      display: inline;
    }
  }

  .carousel {
    .item {
      background-color: white;
      padding: 0 1em;
      margin-top: 2em;
      .row:first-child {
        height: 4em;
        background-color: $guides-header-color;
        padding: 1em;
        color: white;
      }
      .row:last-child {
        padding-top: 2em;
        height: 30em;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      h4 + p {
        color: Grey;
      }
      h2 + p {
        margin-bottom: 2em;
      }

      .details {
        font-size: 1.5em;
        border-left: thin solid black;
        line-height: 2em;
        padding: 0 3em;
        height: 80%;
      }
    }
    .carousel-indicators li{
      border-color: $guides-header-color;
      background-color: rgba(98, 161, 182, 0);
    }
  }
}