// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*= require font-awesome

$frame-color: rgb(12, 162, 248);
$inactive-color: rgb(136, 136, 136);
$inactive-element-color: rgb(242, 242, 242);
$active-color: rgb(12, 162, 248);
$active-element-color: rgba(12, 162, 248, 0.09);
$dropdown-color: rgb(182, 227, 252);
$dropdown-text-color: rgb(12, 162, 248);
$tag-color: rgb(10, 145, 222);
$hint-color: green;
$subtrip-color: rgb(255, 219, 88);


$navbar-height: 6rem;

@font-face {
  font-family: 'Brandon Text Medium';
  src: url(/assets/BrandonText-Medium.otf) format("truetype");
}

@mixin under-navbar() {
  margin-top: $navbar-height;
}

@mixin tags() {
  font-family: 'FontAwesome';

  &.food:before {
    content: "\f0f5";
  }
  &.activity:before {
    content: "\f06e";
  }
  &.lodging:before {
    content: "\f236";
  }
  &.unassigned:before {
    content: "\f11a";
  }
  &.transit:before {
    content: "\f072";
  }
}

@mixin all-text-colors($color) {
  color:$color;
  a {
    color:$color;
    &:visited {
      color:$color;
    }
  }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}


@mixin slide-out($width: 50%) {
    position: fixed;
    top: 3em;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;

  &:hover {
    left: 0;
    width: 60%;
  }
  &:hover > div {
    left: 60%;
  }

  > div {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  }
}
.navbar-fixed-top {
  z-index: 999;
}

.navbar-header .navbar-brand {
  padding: 0.25em;
  @include all-text-colors(white);

  img {
    width: 10em;
  }
  &.visible-sm, &.visible-xs {
    img {
      width: 2em;
    }
  }
}

@media (max-width: 500px) {
  .navbar-header .navbar-brand {
    &.visible-xs img {
      width: 1em;
      padding-top: 0.5em;
    }
  }
}

.btn {
  line-height: 2em;
}

.btn-default {
  color: $frame-color;
}

.nopadding {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue";
  margin: 0;
  font-size: 16px;
}

select.form-control, input[data-provide='datepicker'] {
  background-color: $dropdown-color;
  color: $dropdown-text-color;
}

.form-control {
  height: 3em;
}

.container {
}
a.save {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: white;
}
.navbar-nav a.signout {
  line-height: 0.75em;
}
.hero {
  // height: 40vh;
  width: 100vw;
  background: $frame-color;
  text-align: center;
  background-image: asset_url('scene.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 4em;

  h4 {
    margin-bottom: 2em;
  }

  h2 {
    // text-transform: uppercase;
  }

  ul {
    width: 50%;
    margin: 0 auto;
  }
  .mask {
    background: linear-gradient(white, $frame-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.5;
  }
  h1 {
    font-weight: bolder;
    margin: 0 0 0.5em 0;
  }

  p {
    opacity: 0.8;
  }
  input {
    // width: 80%;
    margin: 0 auto;
  }
}
.map {
  height: 60vh;
  #clipmap {
    height: 100%;
  }
}

.video div {
  height: 60vh;
}

.notes {

  background-color: white;

  > div > div{
    position: fixed;
    top: 4em;
    left: 0;
    // transform: rotate(90deg);
    background-color: white;
    text-align: center;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width: auto;
    padding: 2em 1em;
    cursor: pointer;

    .glyphicon-ok {
      width: 4em;
      &:after {
        content: 'saved';
      }
    }
    .notes-section {
      height: 0;
      overflow: hidden;
      -moz-transition: height 1s ease;
      -webkit-transition: height 1s ease;
      -o-transition: height 1s ease;
      transition: height 1s ease;

      -moz-transition: width 1s ease;
      -webkit-transition: width 1s ease;
      -o-transition: width 1s ease;
      transition: width 1s ease;

      &.expanded {
        height: 100vh;
        width: 50vw;

        &:before {
          content: "\f00d";
          position: absolute;
          top:0;
          right: 0.25em;
          font-family: 'FontAwesome'
        }
      }

      &.saving{
        &:before {
          content: "Saving...";
          color: $hint-color;
        }
      }
    }
  }

  i {
    &:after {
      content: "Notes";
      text-transform: uppercase;
    }
  }

  input[type=text], textarea {
    width: 100%;
    height: 80vh;
  }
}

.days {
  position:absolute;
  top: 5em;
  left: 1em;
  background: white;
  border-radius: 0.25em;

  .context {
    font-size: 0.75em;
    padding-top: 1em;
    text-align: center;
  }

  .day, .add-day {
    text-align: center;
    width: 2em;
    height: 2em;
    font-size: 0.75em;
    margin: 0.5em;
    padding: 0.3em;
    text-decoration: none;
    @include all-text-colors($inactive-color);
    &.active{
      border-radius: 50%;
      background-color: $frame-color;
      a {
        text-decoration: inherit;
      }
      @include all-text-colors(white);
    }
  }
  .add-day {
    background-color: $inactive-element-color;
    border-radius: 50%;
  }
}

.details {
  padding: 1em;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
  @include under-navbar();

  > div {
    margin-bottom: 3em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1em;
  }

  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  h3 {
    margin: 0;
    font-size: 0.75em;
    color: $inactive-color;
  }

  h4 {
    font-size: 0.75em;
    color: $inactive-color;
  }

  li.active {
    h4 {
      color: $active-color;
    }
  }
  .clips li {
    background-color: $inactive-element-color;
    border-radius: 0.25em;
    margin-top: 0.25em;
    padding: 1em;
    cursor: pointer;

    &.active {
      background-color: $active-element-color;
    }

    span {
      font-weight: bold;
    }
    h3 {
      float: right;
    }

    i.fa.fa-trash {
      float:right;
    }
  }
}

.clip-details {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .btn {
    // margin-top: 1em;
    margin-bottom: 1em;

  }
  img.banner {
    width: 100%;
    height: 15em;
    position: relative;
    z-index: 2000;
  }

  z-index: 2000;

  .back {
    margin-bottom: 1em;
  }
  .delete {
    text-align: right;
    .btn-link {
      color: red;
    }
  }
}

.tag {
  margin-left: 0.5em;
  margin-right: 0.5em;

  &.pill {
    background-color: $tag-color;
    color: white;
    padding: 0.5em;
    border-radius: 5em;
    width: 4em;
    font-size: 0.6em;
    display: inline-block;
    margin-top: 0.5em;
    text-align: right;
    position: relative;

    &:before {
      position: absolute;
      left:0.5em;
      top:0.25;
    }
    :after {
      position: absolute;
      top:0;
      left: 0;
    }
  }

  @include tags();
}

.trip {
  margin-top: 1em;
  cursor: pointer;
  overflow: hidden;

  &.selected{
    margin-top: 0;
  }

  > a {
    display: inline;
  }
  .subtrips {

    li > div {
      text-align: left;
      // margin-right: 1em;
    }

    input {
      width: 100%;
    }
  }

  > .row {
    background-color: $subtrip-color;
    padding: 0.25em 0.5em;
  }
}

.datetime-picker  input {
  cursor: pointer;
}

.trips#show {
  overflow: hidden;
  .map {
    height: 100vh;
    padding-bottom: 3em;
    @include under-navbar();
  }
}
body, html {
  height: 100%;
}
.navbar {
  background-color: $frame-color;
  // margin: 0;
  height: $navbar-height;
  margin: auto 0;
  @include all-text-colors(white);
}

.navbar-nav.trip-selection {
  select {
    max-width: 20em;
  }
  .dropdown-menu {
    max-width: 40em;
    white-space: normal;
  }
  .dropdown ul li a{
    color: black;

    &.chosen {
      background-color: $active-color;
    }
  }
}
.navbar-nav.search {
  border: 0;

  form {
    .form-control, .input-group, .form-group, input[type=text] {
      width: 100%;
    }
    .input-group-btn {
      width: 10%;
    }
  }
}

.btn.share {
  color: white;
}

.fa-share-alt {
  cursor: pointer;
}
.clip-details form .bootstrap_form-datetimepicker input{
  z-index: 1;
}
.clip-details .bootstrap-datetimepicker-widget {
  position: inherit;
  z-index:1 !important;
}
.clip-details .bootstrap-datetimepicker-widget.dropdown-menu {
  z-index: 1;
  overflow: visible;
  position: fixed;
  top: 21em;
  left: 53em;
}

@media (min-width: 768px) {
   .navbar-nav.search {
      max-width: 50%;
      margin-bottom: 0px;
   }
  }
@media (max-width: 1400px) {
  .collapse.navbar-collapse.visible-mdlg {
    display: none !important;
  }
}
@media (min-width: 1401px) {
  .collapse.navbar-collapse.visible-mdlg {
    display: visible;
  }
}
@media (max-width: 1600px) {
   .navbar-nav.search {
      max-width: 50%;
      margin-bottom: 0px;
   }
  }
@media (max-width: 767px) {
   .navbar-nav.search {
      max-width: 80%;
      margin-bottom: 0px;
      float: left;
      margin: 0;
   }
   .container-fluid {
     display: flex;
   }
   .navbar-nav {
    margin: 0;
   }
   .navbar-right {
     position:fixed;
     right: 0;
   }
   .navbar-form {
     border: 0;
     margin: 0;

    ul {
      display: flex;
      li {
        margin-left: 1em;
      }
    }
   }

   #shareModal {
    h2 {
      font-size: small;
    }
   }
}
@media (max-width: 1600px) {
  .collapse.navbar-collapse.hidden-mdlg {
    display: none !important;
  }
}


