// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*= require font-awesome

$frame-color: white;
$old-frame-color: rgb(12, 162, 248);
$inactive-color: rgb(136, 136, 136);
$inactive-element-color: rgb(245, 245, 245);
$active-color: rgb(12, 162, 248);
$active-element-color: rgba(12, 162, 248, 0.09);
$dropdown-color: rgb(182, 227, 252);
$dropdown-text-color: rgb(12, 162, 248);
$tag-color: rgb(10, 145, 222);
$hint-color: green;
$trip-color: rgb(82, 190, 182);
$subtrip-color: rgba(82, 190, 182, 0.2);
$navbar-height: 8rem;
$detail-color: #be5290;

@font-face {
  font-family: 'Brandon Text Medium';
  src: url(/assets/BrandonText-Medium.otf) format("truetype");
}

@mixin under-navbar() {
  margin-top: $navbar-height;
}

@mixin tags() {
  font-family: 'FontAwesome';

  &.food {
    &:before {
      content: "\f0f5";
    }
    background-color: #be5290;
  }
  &.activity {
    &:before {
      content: "\f06e";
    }
    background-color: #ffc952;
  }
  &.lodging {
    &:before {
      content: "\f236";
    }
    background-color: #ff7473;
  }
  &.unassigned {
    &:before {
      content: "\f128";
    }
    background-color: #004e66;
  }
  &.transit {
    &:before {
      content: "\f072";
    }
    background-color: #47b8e0;
  }
}

@mixin all-text-colors($color) {
  color:$color;
  a {
    color:$color;
    &:visited {
      color:$color;
    }
  }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}


@mixin slide-out($width: 50%) {
    position: fixed;
    top: 3em;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;

  &:hover {
    left: 0;
    width: 60%;
  }
  &:hover > div {
    left: 60%;
  }

  > div {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  }
}

@mixin box-shadow-2dp() {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.btn {
  border-radius: 1px;
  box-shadow: 0 0 3px gray;
}

.btn-default {
  background-color: #52be80;
}

.btn-primary {
  background-color: #26c6da;
}

.btn-info {
  background-color: #52be86;
}

.navbar-fixed-top {
  z-index: 999;
}

.navbar-header .navbar-brand {
  padding: 0.25em;
  @include all-text-colors(white);

  img {
    width: 10em;
  }
  &.visible-sm, &.visible-xs {
    img {
      width: 2em;
    }
  }
}

@media (max-width: 500px) {
  .navbar-header .navbar-brand {
    &.visible-xs img {
      width: 1em;
      padding-top: 0.5em;
    }
  }
}

.btn {
  line-height: 2em;
}

.btn-default {
  color: $frame-color;
}

.nopadding {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue";
  margin: 0;
  font-size: 16px;
}

select.form-control, input[data-provide='datepicker'] {
  background-color: $dropdown-color;
  color: $dropdown-text-color;
}

.form-control {
  height: 3em;
}

.container {
}
a.save, a.signout {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: white;
}
.btn.save {
  i {
    padding-left: 0.5em;
  }
  &:before {
    content: "Save";
  }
}
.navbar-nav a.signout {
  line-height: 0.75em;
}

.navbar-nav > li {
  margin-right: 1em;
}
.auth0 {
  .hero {
    height: 100vh;
  }

  form {
    margin-top: 40%;
  }
}

.hoverable  {
  a > i{
    display: none;
    height: 100%;
  }

  &:hover a > i {
    display: inline-block;
  }
}
.hero {
  height: 40vh;
  width: 100vw;
  background: $old-frame-color;
  text-align: center;
  background-image: asset_url('scene.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 4em;

  .btn {
    width: 10em;
  }
  h4 {
    margin-bottom: 2em;
  }

  h2 {
    // text-transform: uppercase;
  }

  ul {
    width: 50%;
    margin: 0 auto;
  }
  .mask {
    background: linear-gradient(white, $frame-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.5;
  }
  h1 {
    // font-weight: bolder;
  }

  p {
    opacity: 0.8;
  }
  input {
    // width: 80%;
    margin: 0 auto;
  }

  a {
    color: white;
    &:visited {
      color: white;
    }
  }
}

.anchor {
    display: block;
    position: relative;
    top: -$navbar-height;
    visibility: hidden;
}
.media {
  h4 {
    text-transform: uppercase;
  }
  i {
    font-size: 3em;
    width: 1em;
  }
}

section {
  h1, h2, h3, h4 {
    margin-bottom: 2em;
  }

  p {
    width: 50%;
    margin: 0 auto;
  }
  &.video {
    p:first-of-type {
      margin-bottom: 2em;
    }
    ul {
      margin: 0 auto;
      width: 50%;
    }
    ul li {
      margin: 2em;
      p {
        text-align: left;
        width: 100%;
      }
    }
  }
  &.trips {
    background-image: asset_url('scene.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $old-frame-color;
    .btn-link {
      color: white;
    }
    ul li {
      margin: 1em;
      .btn {
        width: 20em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &.testimonials {
    p.text-right {
      margin-bottom: 1em;
    }
    .btn {
      width: 20em;
      margin: 2em;
    }
  }
}
.map {
  height: 60vh;
  #clipmap {
    height: 100%;
  }
}

.notes {

  background-color: white;

  > div > div{
    position: fixed;
    top: $navbar-height+1rem;
    left: 0;
    background-color: white;
    text-align: center;
    min-width: 8em;
    padding: 2em 1em;
    cursor: pointer;
    @include box-shadow-2dp;

    .glyphicon-ok {
      width: 4em;
      &:after {
        content: 'saved';
      }
    }
    .notes-section {
      height: 0;
      overflow: hidden;
      -moz-transition: height 1s ease;
      -webkit-transition: height 1s ease;
      -o-transition: height 1s ease;
      transition: height 1s ease;

      -moz-transition: width 1s ease;
      -webkit-transition: width 1s ease;
      -o-transition: width 1s ease;
      transition: width 1s ease;
      width: 5vw;

      &.expanded {
        height: 100vh;
        width: 50vw;

        &:before {
          content: "\f00d";
          position: absolute;
          top:0;
          right: 0.25em;
          font-family: 'FontAwesome'
        }
      }

      &.saving{
        &:before {
          content: "Saving...";
          color: $hint-color;
        }
      }
    }
  }

  i {
    &:before {
      font-size: 3em;
      display: block;
    }
    &:after {
      content: "Notepad";
      font-size: 1em;
    }
  }

  input[type=text], textarea {
    width: 100%;
    height: 80vh;
  }
}

.days {
  position:absolute;
  top: 5em;
  left: 1em;
  background: white;
  border-radius: 0.25em;

  .context {
    font-size: 0.75em;
    padding-top: 1em;
    text-align: center;
  }

  .day, .add-day {
    text-align: center;
    width: 2em;
    height: 2em;
    font-size: 0.75em;
    margin: 0.5em;
    padding: 0.3em;
    text-decoration: none;
    @include all-text-colors($inactive-color);
    &.active{
      border-radius: 50%;
      background-color: $frame-color;
      a {
        text-decoration: inherit;
      }
      @include all-text-colors(white);
    }
  }
  .add-day {
    background-color: $inactive-element-color;
    border-radius: 50%;
  }
}

.details {
  padding: 0em;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
  @include under-navbar();

  > div {
    margin-bottom: 5em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1em;
  }

  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  h2 {
    margin: 0.5em 0;
    font-size: 1.25em;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }

  h4 {
    font-size: 0.75em;
  }

  textarea {
    min-height: 7em;
  }

  li.active {
    h4 {
      color: $active-color;
    }
  }
  .clips li {
    background-color: white;
    border-radius: 0.125em;
    margin-top: 0.25em;
    padding: 0em;
    cursor: pointer;
    @include box-shadow-2dp;

    &:hover {
      transform: scale(1.05, 1.05);
      transition: box-shadow 0.3s ease-in-out;
    }
    img {
      width: 100%;
    }
    &.active {
      background-color: $active-element-color;
    }

    span {
      font-weight: bold;
    }
    h3 {
      float: right;
    }

    i.fa.fa-trash, i.fa.fa-clone {
      font-size: 2em;
      padding: 0.125em 0.5em;
    }
    i.fa.fa-trash {
      color: red;
    }
  }

  .clip ~ div > div > div {
    padding: 0.5em;
  }
  input.comment {
    background-color: $inactive-element-color;
    border: 0;
    text-overflow: ellipsis;
  }
  .comment.placeholder {
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.clip-details {
  // max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 0 1em 0;

  .scheduled {
    font-size: 1.25em;
    position: relative;
    top: -3em;
    left: 0.5em;
    width: 6em;
    z-index: 888;
    margin-bottom: -3em;
  }
  .header {
    color: white;
    padding: 1em;
    background-color: $detail-color;

    h2 {
      padding-top: 0;
    }

    .pill {
      &:before {
        display: block;
        position: static;
      }
      margin-top: 4em;
      width: auto;
      font-size: 0.75em;
      height: auto;
      max-width: 4.5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .edits {
    text-align: center;
    padding: 1em;

    i {
      font-size: 3em;
    }

    @include all-text-colors($detail-color);
  }
  .back {
    cursor: pointer;
  }
  .container-fluid {
    &.navigation {
      font-size: 1.5em;
      > div {
        height: 100%;
      }
    }
  }
  .best_in_place input {
    width: 100%;
  }
  .btn {
    // margin-top: 1em;
    margin-bottom: 1em;

  }
  img.banner {
    width: 100%;
    height: 15em;
    position: relative;
    z-index: 888;
  }

  z-index: 888;

  .delete {
    text-align: right;
    .btn-link {
      color: red;
    }
  }
}

.tag {
  margin-left: 0.5em;
  margin-right: 0.5em;

  &.pill {
    color: white;
    padding: 0.5em;
    border-radius: 0.25em;
    width: 4em;
    font-size: 1em;
    display: inline-block;
    margin-top: 0.5em;
    text-align: right;
    position: relative;

    &:before {
      position: absolute;
      left:0.5em;
    }
    :after {
      position: absolute;
      top:0;
      left: 0;
    }

    @include tags();
  }

}

.trip {
  margin-top: 1em;
  cursor: pointer;
  overflow: hidden;

  .header {
    background-color: $trip-color;
    height: 15vh;
    color:white;
    padding: 3em 1em 1em 1em;
    h1 {
      text-align: center;
      margin-top: 0;
      font-size: 2em;
    }
  }

  &.selected{
    margin-top: 0;
  }

  > a {
    display: inline;
  }
  .subtrips {

    li > div {
      text-align: left;
    }

    input {
      width: 100%;
    }
  }

  > .row {
    background-color: $subtrip-color;
    padding: 1em;

    h2 {
      font-size: 1.25em;
      margin: 0;
      text-align: center;
    }
  }
}

.trip-commitments {
  li {
    margin: 0.5em;
    background-color: $inactive-element-color;
  }
}

.scheduled {
  background-color: $trip-color;
  color:white;
  padding: 0.5em;
  border-radius: 0.125em;
}

.card-height {
  > div {
    min-height: 1px;
  }

  height: 20vh;

  .stats {
    position: absolute;
    bottom: 0;
    width: 100%
  }
}

.pill.pill-icon {
  margin: 0;
  height: 2.4em;
  width: 3.5em;
  &:before {
    text-align: center;
    left: 35%;
  }
}

.stats > div {
  padding-left: 0;
}
.datetime-picker  input {
  cursor: pointer;
}

.trips#new {
  .logo img {
    width: 15em;
    padding: 1em;
  }
}
.trips#show, .trips#update {
  overflow: hidden;
  .map {
    height: 92vh;
    // padding-bottom: 3em;
    @include under-navbar();
  }

  > .alert {
    z-index: 1100;
    position: fixed;
    width: 100%;
    @include under-navbar();
  }
}
body, html {
  height: 100%;
}
.navbar {
  background-color: $frame-color;
  // margin: 0;
  height: $navbar-height;
  margin: auto 0;
  padding: 0.5em;
  @include all-text-colors(white);
}

.trip-selection {
  select {
    max-width: 20em;
  }
  .dropdown-menu {
    max-width: 40em;
    white-space: normal;
    max-height: 90vh;
    overflow-y: scroll;
  }
  .dropdown ul li a{
    color: black;

    &.chosen {
      background-color: $active-color;
    }
  }
}
.navbar-nav.search {
  border: 0;

  form {
    .form-control, .input-group, .form-group, input[type=text] {
      width: 100%;
    }
    .input-group-btn {
      width: 10%;
    }
  }
}

.btn.share {
  color: white;
  i {
    padding-left: 0.5em;
  }
  &:before {
    content: "Share";
  }
}

.fa-share-alt {
  cursor: pointer;
}
.clip-details form .bootstrap_form-datetimepicker input{
  z-index: 1;
}
.clip-details .bootstrap-datetimepicker-widget {
  position: inherit;
  z-index:1 !important;
}
.clip-details .bootstrap-datetimepicker-widget.dropdown-menu {
  z-index: 1;
  overflow: visible;
  position: fixed;
  top: 21em;
  left: 53em;
}

@media (min-width: 768px) {
   .navbar-nav.search {
      max-width: 50%;
      margin-bottom: 0px;
   }

  }
@media (max-width: 1400px) {
  .collapse.navbar-collapse.visible-mdlg {
    display: none !important;
  }
}
@media (min-width: 1401px) {
  .collapse.navbar-collapse.visible-mdlg {
    display: visible;
  }
}
@media (max-width: 1600px) {
   .navbar-nav.search {
      max-width: 50%;
      margin-bottom: 0px;
   }
  }
@media (max-width: 767px) {
   i {
    color: black;
  }

   .navbar-nav.search {
      max-width: 80%;
      margin-bottom: 0px;
      float: left;
      margin: 0;
   }
   .container-fluid {
     display: flex;
     overflow: scroll;
   }
   .navbar-nav {
    margin: 0;
   }
   .navbar-right {
     position:fixed;
     right: 0;
   }
   .navbar-form {
     border: 0;
     margin: 0;

    ul {
      display: flex;
      li {
        margin-left: 0.3em;
      }
    }
   }


   #shareModal {
    h2 {
      font-size: small;
    }
   }

   .notes {
     i {
       &:after {
         content: "";
       }
     }

     > div > div {
       padding: 0;

       .notes-section {

         &.expanded {
           width: 100vw;
         }
       }
     }
   }

   a.save {
    &:after {
      content: "";
    }
   }
}
@media (max-width: 1600px) {
  .collapse.navbar-collapse.hidden-mdlg {
    display: none !important;
  }
}
